* {
   margin: 0;
   padding: 0;
   font-family: "Vanguard CF";
   color: #fff;
   box-sizing: border-box;
}
html,
body{
   height: 100%;
   width: 100%;
}
   
#main{
    min-height: 100vh;
    width: 100vw;
}

#page1{
   width: 100%;
   min-height: 100vh;
   background-color: #222;   
}

#page1 h1{
   margin-left: 30px;
   color: #fff;
   text-transform: uppercase;
   font-size: 12vw;
}

#page1 h2{
   margin-left: 30px;
   color: rgb(255, 174, 0);
}

#capsule{
   position: relative;
   /* background-color: red; */
}

#persn{
   position: absolute;
   bottom: 2px;
   right: 40%;
}

#page1 img{
   height: 45vh;
   margin-top: 50px;
}

#page2{
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
}