* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html,
body{
   height: 100%;
   width: 100%;
}

#page1{
   width: 100%;
   min-height: 100vh;
   background-color: #222;   
}

#page1 img{
   
}